# Environments
.env
.env.*

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.npm/
frontend/*.local
frontend/coverage/

# Go (Backend)
backend/idps-backend
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*_test.go
backend/coverage.out

# Python
__pycache__/
*.pyc

# IDEs and OS
.vscode/
.idea/
.DS_Store
*.swp
*~

# Logs
*.log
backend/alerts.json

# Project specific
abstract.md
