# Environments
.env
.env.*

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.npm/
frontend/*.local

# Go (Backend)
backend/idps-backend
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Logs
*.log
backend/alerts.json
